@media only screen and (max-width: 660px) {
  .item {
    width: 100%;
    margin-bottom: 25px;
  }

  .info {
    width: 60%;
    height: 100%;
  }

  .name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .name {
    white-space: nowrap;
    overflow: hidden;
  }

  .name p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .album {
    margin: 0;
    padding: 0;
  }

  .item-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    width: 100%;
    transition: 0.3s ease;
  }
  .item-container:hover {
    background-color: rgb(245, 245, 245);
  }
  .explicit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgb(141, 141, 141) solid;
    color: rgb(141, 141, 141);
    border-radius: 5px;
    padding: 4px;
    font-size: 0.6em;
    width: 40px;
    height: 10px;
  }

  .name {
    font-weight: 600;
  }

  .image {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 4px 6px 13px 8px rgba(0, 0, 0, 0.12);
    margin-left: 50px;
  }
}

@media only screen and (min-width: 660px) {
  .item {
    width: 100%;
  }

  .info {
    line-height: 3px;
  }

  .item-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    line-height: 7px;
    gap: 15px;
    width: 100%;
    transition: 0.3s ease;
  }
  .item-container:hover {
    background-color: rgb(245, 245, 245);
  }
  .explicit {
    border: 1px rgb(141, 141, 141) solid;
    color: rgb(141, 141, 141);
    border-radius: 5px;
    padding: 4px;
    font-size: 0.6em;
    width: 40px;
  }

  .name {
    font-weight: 600;
  }

  .image {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 4px 6px 13px 8px rgba(0, 0, 0, 0.12);
    margin-left: 50px;
  }
}
